opencv-python
jupyter
matplotlib
pandas
numpy
pillow
scipy
tqdm
scikit-learn
scikit-image
seaborn
h5py
ipykernel
bokeh
pickleshare
anyio>=4.4.0 # not directly required, pinned by Snyk to avoid a vulnerability
