opencv-python
jupyter
matplotlib
pandas
numpy
pillow
scipy
tqdm
scikit-learn
scikit-image
seaborn
h5py
ipykernel
bokeh
pickleshare
tornado>=6.3.3 # not directly required, pinned by Snyk to avoid a vulnerability
